@import "tailwindcss";


html, body {
  height: 100%;
  background-color: white;
  color: var(--color-primary);
  font-family: var(--font-sans);
}


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
